.dirSection {
  width: 100%;
}

.dirItemDirectory,
.dirItemNote {
  width: 100%;
  transition: background-color 0.3s;
  margin: 8px;
  height: 30px;
}

.button {
  display: inline-block;
  padding: 8px 14px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d6c9c2;
  color: #14213d;
  margin-right: 10px;
  margin-top: 20px;
}
.button:hover {
  background-color: #e3d5ca;
}

.buttonContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
