.dirSection {
  width: 100%;
}

.dirItem {
  width: 100%;
  border: 1px solid black;
  transition: background-color 0.3s;
  margin: 8px;
  height: 30px;
}

.dirItem:hover {
  background-color: #e0e0e0;
}

.button {
  display: inline-block;
  padding: 8px 14px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1a73e8;
  color: #fff;
  margin: 5px;
}
.button:hover {
  background-color: #468be4;
}
