header {
  background-color: #d6c9c2;
  color: #14213d;
  padding: 20px;
  text-align: center;
  min-width: 300px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  width: 70%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 20px;
  background-image: url('../../public/background.png');
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  z-index: -1;
}
